
/*
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Monda', sans-serif;


h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h4 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20px;
}
p {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

*/


body {
font-family: 'Monda', sans-serif;
color: #4f4f4f;
}

.title {

  background: linear-gradient(to right, #f7c97e 0%, #f4af3f 100%);

  border-bottom: thick solid #aaa;

  color:#fff9e5;
  text-shadow: 3px 3px 4px #aaa;

  text-align: right;
  padding: 15px;
}
.title h1 {
  padding-right:120px;
}
.title h2 {
  padding-right:120px;
}

.navbar {
  border-bottom: solid #aaa;
  text-size: 30;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar a {
  margin: 1px 40px;
  color: #4f4f4f;
}
.navbar .active {
  font-weight: bold;
}

.content h2 {
  padding:20px;

}

.table span:hover {
  cursor:pointer;
}
